<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enquete Minor Web</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <header>
    <h1>Minor Web Enquete</h1>
    <p>Om te begrijpen hoe de studenten over de afgelopen vakken denken vragen wij jou om een vragenlijst in te vullen.
    </p>
  </header>
  <main>
    <form method="post" action="">
      <section>
        <h2>Student gegevens</h2>
        <fieldset data-error="Vul gegevens in die voldoen aan de eisen">
          <legend>Wat zijn jouw student gegevens?</legend>
          <label for="studentName">Naam student</label>
          <input type="text" name="studentName" id="studentName" aria-required="true" aria-label="Naam"
            pattern="[A-Za-z]+" title="Naam bevat ongeldige tekens" placeholder="Jouw naam" aria-placeholder="Jouw naam"
            required>
          <label for="studentId">studentId</label>
          <input type="number" name="studentId" id="studentId" aria-required="true" aria-label="studentId"
            pattern="/^[0-9-]{9}\b$/gm+" title="studentnummer klopt niet" placeholder="500123456"
            aria-placeholder="Jouw Student Id">
        </fieldset>
      </section>
      <section>
        <header>
          <h2>Enkele vragen over Web Apps From Scratch (WAFS)</h2>
        </header>
        <fieldset data-error="Selecteer een docent">
          <legend>Welke docent gaf jou les?</legend>
          <div>
            <input type="radio" name="teacher_wafs" id="teacher_wafs_1" value="1" required aria-required="true"><label
              for="teacher_wafs_1">Joost
              Faber</label>
          </div>
          <div>
            <input type="radio" name="teacher_wafs" id="teacher_wafs_2" value="2"><label for="teacher_wafs_2">Koop
              Reynders</label>
          </div>
        </fieldset>
      </section>
      <section>
        <header>
          <h2>Enkele vragen over Web Apps From Scratch (WAFS)</h2>
        </header>
        <fieldset data-error="Selecteer de periode waar je het vak volgde">
          <legend>In welke periode volgde je dit vak?</legend>
          <label for="period_wafs">Selecteer een periode waar je het vak volgde</label>
          <select name="period_wafs" id="period_wafs" aria-label="dropdown-week-selector" required aria-required="true">
            <option value="1">Week 1 tot 3</option>
            <option value="2">Week 5 tot 8</option>
            <option value="3">Week 9 tot 12</option>
            <option value="4">Week 13 tot 16</option>
            <option value="5">Week 17 tot 20</option>
          </select>
        </fieldset>
      </section>
      <input type="submit" value="submit">
    </form>
  </main>
  <script defer src="script/index.js"></script>
</body>

</html>